{% extends ../base.html %}

{% block body %}
<table>
    <tr>
        <td>Name</td>
        <td>Deploy_name</td>
        <td>Destination</td>
        <td>Operation</td>
    </tr>
    {% for project in projects %}
    <tr id="{{ project.gitlab_id }}">
        <td>{{ project.name }}</td>
        <td>{{ project.deploy_name }}</td>
        <td>测试环境</td>
        <td><input type="button" value="发布" onclick="window.location.href='/deploy?gitlab_id={{ project.gitlab_id }}'" /></td>
    </tr>
    {% end %}
</table>
{% end %}