{% extends ../base.html %}

{% block other-css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/deploy/details.css')}}" />
{% end %}

{% block body %}
<table>
    <tr>
        <td colspan="5">Deploy History</td>

    </tr>
    {% for record in history %}
    <tr>
        <td>{{ project.name }}</td>
        <td>{{ record.commit }}</td>
        <td>{{ record.commit_msg }}</td>
        <td>{{ record.commit_time }}</td>
        <td>{{ record.op_time }}</td>
    </tr>
    {% end %}
</table>

<hr />

<table>
    <tr>
        <td>Name</td>
        <td>Deploy_name</td>
        <td>Destination</td>
        <td>Commit</td>
        <td>Operation</td>
    </tr>
    <tr id="{{ project.gitlab_id }}">
        <td>{{ project.name }}z
        <td>
        {% if project.deploy_name %}
        {{ project.deploy_name  }}
        {% else %}
        {{ project.name }}
        {% end %}
        </td>
        <td>测试环境</td>
        <td>
            <select>
                {% for item in commits%}
                <option>{{ item['short_id'] }} || {{ item['title'] }}</option>
                {% end %}
            </select>
        </td>
        <td><input type="button" value="发布" onclick="window.location.href='/deployaction'" /></td>
    </tr>
</table>


{% end %}

{% block other-body-content %}
<div class="terminal"></div>
{% end %}

{% block other-js %}
<script src="{{static_url('js/deploy/details.js')}}"></script>
{% end %}