{% extends ../base.html %}

{% block second_nav %}
<div class="container-fluid second_nav">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/assets/district">District</a></li>
            <li class="breadcrumb-item"><a href="/assets/host">Host</a></li>
            <li class="breadcrumb-item"><a href="/assets/hostgroup">Hostgroup</a></li>
            <li class="breadcrumb-item"><a href="/assets/projecttype">ProjectType</a></li>
            <li class="breadcrumb-item"><a href="/assets/project">Project</a></li>
        </ol>
    </nav>
</div>
{% end %}

{% block css %}
<link rel="stylesheet" href="{{static_url('css/panel-form.css')}}">
{% end %}
{% block js %}<script src="{{static_url('js/panel-form.js')}}"></script>{% end %}