{% extends assets-child-base.html %}



<!--
BLOCK IN FORM-PANEL
Relate to THE INCLUDE statement in block [container]
-->
{% block col-in-title %}
    <div class="col-sm-2">
        <span>主机名</span>
    </div>
    <div class="col-sm-2">
        <span>FQDN</span>
    </div>
{% end %}
{% block col-in-row %}
    <div class="col-sm-2">
        {{ record.hostname }}
    </div>

    <div class="col-sm-2">
        <span>{{ record.ipaddr }}</span>
    </div>
{% end %}

<!--
BLOCK IN MODAL-NEW
Relate to THE INCLUDE statement in block [container]
-->
{% block modal-body %}
<div class="form-row">
    <div class="form-group col-sm-12">
        <label for="districtVisiblename">District Name</label>
        <input type="text" class="form-control" id="districtVisiblename" placeholder="District Name" name="visiblename" required>
    </div>
</div>
{% end %}