{% extends ../bootstrap.html %}
{% block css %}
<link rel="stylesheet" href="{{static_url('xterm/xterm.css')}}">
<link rel="stylesheet" href="{{static_url('xterm/addons/fullscreen/fullscreen.css')}}">
{% end %}<!-- Optional StyleSheet -->



{% block global-container %}
<div class="row m-0 vw-100 vh-100 align-items-center justify-content-center bg-info" id="login-panel">
    <div class="p-4 bg-warning col-2">
    <form>
        <div class="form-group">
            <label for="fqdnInput">Server FQDN</label>
            <input type="text" class="form-control" id="fqdnInput" aria-describedby="fqdnHelp" 
                   placeholder="Server FQDN" value="192.168.3.9">
            <small id="fqdnHelp" class="form-text text-muted">input ipaddr or hostname</small>
        </div>
        <div class="form-group">
            <label for="sshPortInput">SSH Port</label>
            <input type="text" class="form-control" id="sshPortInput" placeholder="22" value="22">
        </div>
        <div class="form-group">
            <label for="userInput">Username</label>
            <input type="text" class="form-control" id="userInput" placeholder="username" value="root">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" value=" ">
        </div>
        <button type="button" class="btn btn-primary">Connect</button>
    </form>
    </div>
</div>

<div class="container-fluid p-0 vw-100 vh-100 bg-dark collapse" id="terminal-container"></div>
{% end %}

{% block js %}
<script  type="module" src="{{static_url('js/ssh_connector/connect.js')}}"></script>
{% end %}