{% extends inventory.html %}


{% block container %}


<div class="container">
    <div class="row text-center fa-5x ">
        <div class="col-lg">
            <div class="rounded-circle circle-default bg-secondary text-light">
                <i class="fas fa-map-marked-alt"></i>
            </div>
            <h2>District</h2>
        </div>
        <div class="col-lg">
            <div class="rounded-circle circle-default bg-secondary text-light">
                <i class="fas fa-server"></i>
            </div>
            <h2>Host</h2>
        </div>
        <div class="col-lg">
            <div class="rounded-circle circle-default bg-secondary text-light">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-server " data-fa-transform="up-1.6  right-1.6"></i>
                    <i class="fas fa-square text-secondary" data-fa-transform="down-1.6 left-1"></i>
                    <i class="fas fa-server" data-fa-transform="down-1.6 left-1.6"></i>
                </span>
            </div>
            <h2>HostGroup</h2>
        </div>
        <div class="col-lg">
            <div class="rounded-circle circle-default bg-secondary text-light">
                <i class="fas fa-code"></i>
            </div>
            <h2>Project</h2>
        </div>

    </div>

</div>


{% end %}
