{% extends inventory-child-base.html %}



<!--
BLOCK IN FORM-PANEL
Relate to THE INCLUDE statement in [ block container ]
Included from form-panel.html
-->
{% block col-in-title %}
    <div class="col-sm-2">
        <span>主机名</span>
    </div>
    <div class="col-sm-2">
        <span>FQDN</span>
    </div>
    <div class="col-sm-2">
        <span>Location</span>
    </div>
{% end %}
{% block record-badge %}<span class="badge badge-secondary">{{ record.type }}</span>{% end %}

{% block col-in-row %}
    <div class="col-sm-2">
        {{ record.hostname }}
    </div>

    <div class="col-sm-2">
        {{ record.ipaddr }}
    </div>

    <div class="col-sm-2">
        {{ record.district.visiblename }}
    </div>
{% end %}

<!--
BLOCK IN MODAL-NEW
Relate to THE INCLUDE statement in block [container]
-->
{% block modal-body %}
<div class="form-row border-bottom">
    <div class="form-group col-sm-6">
        <label for="visiblename">Visible Name</label>
        <input type="text" class="form-control" id="visiblename" placeholder="Visiblename of Host" name="visiblename">
    </div>
    <div class="col-sm-6"></div>
    <div class="form-group col-sm-6">
        <label for="district">选择区域</label>
        <select id="district" class="form-control foreign-key  no-with-template" name="district_id" data-default="Choose...">
            <option selected data-foreign-id="0">Choose...</option>
            {% for district in districts %}
                <option data-foreign-id="{{ district.id }}">{{ district.visiblename }}</option>
            {% end %}
        </select>
    </div>
    <div class="form-group col-sm-6">
        <label for="type">选择类型</label>
        <select id="type" class="form-control" name="type" data-default="host">
            <option selected>host</option>
            <option>proxy</option>
            <option>template</option>
        </select>
    </div>
</div>

<div class="form-row border-bottom">
    <div class="form-group col-sm-6 host-needed">
        <label for="template">选择模板</label>
        <select id="template" class="form-control foreign-key  no-type-template" name="template_id" data-default="Choose...">
            <option selected data-foreign-id="0">Choose...</option>
            {% for item in records %}
                {% if item.type == "template" %}
                <option data-foreign-id="{{ item.id }}">{{ item.visiblename }}</option>
                {% end %}
            {% end %}
        </select>
    </div>


</div>

<div class="form-row border-bottom">
    <div class="form-group col-sm-6">
        <label for="ssh_user">SSH User</label>
        <input type="text" class="form-control no-with-template" id="ssh_user" placeholder="SSH User Name" name="ssh_user" data-default="">
    </div>

    <div class="form-group col-sm-6">
        <label for="ssh_port">SSH Port</label>
        <input type="text" class="form-control no-with-template" id="ssh_port" placeholder="SSH Port(default 22)" name="ssh_port" data-default="">
    </div>

    <div class="form-group col-sm-6">
        <label for="ssh_auth_type">SSH Auth Method</label>
        <select id="ssh_auth_type" class="form-control no-with-template" name="ssh_auth_type" data-default="password">
            <option selected>password</option>
            <option>rsa_key</option>
        </select>
    </div>

    <div class="form-group col-sm-6 ssh-password-show">
        <label for="ssh_password">SSH Password</label>
        <input type="password" class="form-control no-with-template" id="ssh_password" placeholder="SSH Password" name="ssh_password" data-default="">
    </div>

    <div class="form-group col-sm-6 d-none custom-file-2 ssh-key-show">
        <label for="ssh_key" class="custome-file-label-2">SSH RSA-Key</label>
        <label for="ssh_key" class="custom-file-label text-secondary">SSH RSA-Key</label>
        <input type="file" class="form-control-file custom-file-input no-with-template" id="ssh_key" name="ssh_key" data-default="">
    </div>
</div>

<div class="form-row border-bottom">
    <div class="form-group col-sm-6">
        <label for="ipaddr">IP Addr.</label>
        <input type="text" class="form-control no-type-template" id="ipaddr" placeholder="Host IP Address" name="ipaddr" data-default="">
    </div>
</div>
{% end %}

{% block jss %}
<script src="{{static_url('js/modal-new-body-host.js')}}"></script>
{% end %}