{% extends inventory.html %}


{% block container %}
    {% block formAction %}{% end %}

    {% include ../modual/form-panel.html %}
    {% include ../modual/modal-new.html %}
{% end %}


{% block modal-body %}

<div class="form-row">
    <div class="form-group col-sm-12">
        <label for="visiblename">Visible Name</label>
        <input type="text" class="form-control" id="visiblename" placeholder="Visiblename of District" name="visiblename" required>
    </div>
</div>

{% end %}

{% block css %}
<link rel="stylesheet" href="{{static_url('css/panel-form.css')}}">
{% end %}
{% block js %}
<script src="{{static_url('js/form-panel.js')}}"></script>
<script src="{{static_url('js/modal-new.js')}}"></script>
{% end %}

