img.loading {
    display: block;
    margin:0 auto;
}

img.loading.loading-btn {
    height: 1.8125em;
}

@media screen and (min-width: 1024px) {
  .modal-lg {
    max-width: 1000px;
}}

@media screen and (min-width: 1440px) {
  .modal-lg {
    max-width: 1280px;
}}