/* Write your styles */



@media only screen and (min-width: 641px) {

}

@media only screen and (max-width: 640px) {
    .ams-offcanvas {
        left: -270px;
    }
}




.ams-offcanvas {
    background-color: #333333;

    width: 270px;

    position: fixed;
    bottom:0;
    top: 50px;
}