/* Created at 2016-09-26
   by
   jianqiao
css 属性顺序
    颜色
    大小
    位置
    边框
    z-index
*/

.nav-tabs {
    /*float: left;*/
    /*clear: left;*/
    display: inline-block;
}

button#new {
    float: right;
}

.table-test thead td {
    background-color: #449d44!important;
}
.table-product thead td {
    background-color: #c9302c!important;
}