div.custom-file-2 {
    position: relative;
}
div.custom-file-2>label.custome-file-label-2 {
    display: block;
}

div.custom-file-2>label.custom-file-label {
    display: block;
    top: auto;
    cursor: pointer;
}