/*form作为展示表格时的样式定义*/
div.container-fluid.shadow {
    box-shadow: 0.1rem -0.1rem 0.7rem rgba(0,0,0,.15)!important
}
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row {
    padding: 0.3rem 0;
}

div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row:hover {
    cursor:pointer;
    background-color: rgba(0,0,0,.075);
}
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded  .form-row *:hover{
    cursor:pointer;
}

div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row>div {
    overflow:hidden;
    text-overflow:ellipsis;
}

/*按钮大小*/
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded  .btn.btn-form {
    padding: 0.1rem 1em;
}

/*标题栏按钮hover active效果*/
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded  .form-row button.form-global-new:hover {
    color: #28a745;
    background-color: #fff;
    border-color: #fff;
}
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row button.form-global-new:not(:disabled):active{
    color: #28a745;
    background-color: #fff;
    border-color: #fff;
}

/*行按钮hover active效果*/
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row button.form-global-del:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
div.container-fluid.shadow.p-3.mb-0.bg-white.rounded .form-row button.form-global-del:not(:disabled):active{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/*徽章 样式*/
.badge {
    line-height: 1.1;
    vertical-align: text-bottom;
}

.form-check-input {
    margin-top: 0.4em;
}