body>.container-fluid>.second_nav {
}
body>.container-fluid.second_nav>nav {
    display: flex;
    justify-content:flex-end;
}
body>.container-fluid.second_nav>nav ol {
    padding: 0;
    background-color:transparent;
    margin-block-end:0;
}
