@import "square";

.circle-default {
    @include responsive-box(100%);
    cursor: pointer;

    ~ span {
        font-size: 1.5vw;
    }

    *[class*=fa] {
        height: 100%;
        font-size: 6vw;
        &:hover {
            color: #fff;
        }
    }
}