{% extends ../base.html %}

{% block other-css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/admin/admin.css')}}" />
{% end %}

{% block content %}
<div class="row nav-container">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/environment">环境</a></li>
                <li class="breadcrumb-item"><a href="/admin/container">容器</a></li>
                <li class="breadcrumb-item"><a href="/admin/app_type">应用类型</a></li>
                <li class="breadcrumb-item"><a href="/admin/app">应用</a></li>
                <li class="breadcrumb-item"><a href="/admin/deploy_rule">发布规则</a></li>
            </ol>
        </nav>
    </div>
</div>


{% block item-content %}{% end %}
{% end %}