{% extends ../base.html %}

{% block other-css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/admin/admin.css')}}" />
{% end %}

{% block content %}
<div class="row align-items-center nav-container">
    <div class="col-xl-1">{% block col1 %}{% end %}</div>
    <div class="col-xl-1">
        {% block nav-col2 %}<button type="button" class="btn btn-primary btn-block">新建</button>{% end %}
    </div>
    <div class="col-xl-1">{% block col3 %}{% end %}</div>
    <div class="col-xl-1">{% block col4 %}{% end %}</div>

    <div class="col-xl-8">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/environment">环境</a></li>
                <li class="breadcrumb-item"><a href="/admin/container">容器</a></li>
                <li class="breadcrumb-item"><a href="/admin/app_type">应用类型</a></li>
                <li class="breadcrumb-item"><a href="/admin/app">应用</a></li>
                <li class="breadcrumb-item"><a href="/admin/deploy_rule">发布规则</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
{% block item-content %}{% end %}
</div>

{% block other-content %}{% end %}
{% end %}