<div class="container-fluid">
    <div class="row padding-row bg-light rounded mb-3">
        <div class="col-md-4 h-200">App name with Namespace</div>
        <div class="col-md-2">Deploy name</div>
        <div class="col-md-2">Type</div>
        <div class="col-md-2">Status</div>
        <div class="col-md-2"></div>
    </div>
    {% for app in apps %}
    <div class="row padding-row" id="{{ app['id'] }}">
        <div class="col-md-4">{{ app['name_with_namespace'] }}</div>
        <div class="col-md-2 deploy_name">{{ app['name'] }}</div>
        <div class="col-md-2 typeid">Type</div>
        <div class="col-md-2 status">Status</div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-primary btn-sm btn-block d-inline-block">
                Add
                <!--<img class="loading" src="/statics/images/loading.gif" />-->
            </button>
        </div>
    </div>
{% end %}</div>