body {
    position: relative;
}

#terminal-container {
    position: fixed;
}

#terminal-play-control {
    z-index:0;
}
.progress {
    height: 2px!important;
}

#terminal-play-control > .fa-3x > .active {
    display: inline-block!important;
    z-index: 2;
    cursor: pointer;
    color: #ffc107!important;
}

#btn-play-pause {
    line-height: 100%;
}


#btn-stop {
    line-height: 100%;
}