{% extends ../base.html %}


{% block second_nav %}
<div class="container-fluid second_nav">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/deploy/auto">Auto-Deploy-Rule</a></li>
            <li class="breadcrumb-item"><a href="/deploy/manul">Manul</a></li>
        </ol>
    </nav>
</div>
{% end %}

{% block in_global_container %}
<div class="container-fluid shadow p-3 mb-0 bg-white rounded">
{% block deploy-panel %}{% end %}
</div>
{% end %}