{% extends admin.html %}

{% block content %}
<table class="am-table am-table-bordered">
    <thead>
        <tr><td><i class="am-icon-desktop"></i> admin-host</td></tr>
    </thead>
    <tbody>
        <tr class="ams-table-header">
            <td>环境</td>
            <td>主机名/别名</td>
            <td>IP地址</td>
            <td>属组</td>
            <td>类型</td>
            <td>操作</td>
        </tr>
        {% for r in records %}
        <tr id="{{ r['HId'] }}">
            <td>{{ r['EName'] }}</td>
            <td>{{ r['HAlias'] }}</td>
            <td>{{ r['HIp'] }}</td>
            <td id="{{ r['HGroupId'] }}">{{ r['HGName'] }}</td>
            <td>{{ r['HTypeName'] }}</td>
            <td><i class="am-icon-times"></i> <i class="am-icon-pencil-square-o"></i></td>
        </tr>
        {% end %}
    </tbody>
</table>
{% end %}