{% extends base.html %}

{% block css %}
    <link rel="stylesheet" href="{{static_url("css/css-admin.css")}}">
{% end %}

{% block body %}








<div class="ams-container-offcanvas">
    <div class="ams-offcanvas">
        <span class="am-icon-wrench"> Admin</span>
        <ul class="am-list">
            <li><a href="/admin/host"><i class="am-icon-desktop"></i> 主机</a></li>
            <li><a href="/admin/hostgroup"><i class="ams-icon-desktop-group"></i> 主机组</a></li>
            <li><a href="/admin/project"><i class="am-icon-cube"></i> 项目</a></li>
        </ul>
    </div>
    <div class="ams-rectangle-right" id="data-offcanvas-toggle"><div class="ams-rectangle-right-in"></div></div>
</div>

















































<div class="ams-container-global ">
{% block content %}
    <div class="am-g">
        <div class="am-u-sm-12">主机</div>
        <div class="am-u-sm-12">OK</div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">主机组</div>
        <div class="am-u-sm-12">OK</div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">项目</div>
        <div class="am-u-sm-12">OK</div>
    </div>
{% end %}
</div>








{% block modal %}{% end %}

















{#jquery双向数据绑定#}
{% end %}
{% block js %}
    <script src="{{static_url("js/js-admin.js")}}"></script>
{% end %}