{% extends admin.html %}

{% block page-header %}Admin HostGroup{% end %}
{% block button-new %}<button type="button" class="btn btn-primary btn-std" id="new">New</button>{% end %}

{% block content %}
<form class="am-form" action="/new/hostgroup" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>环境</td>
                <td>主机组名</td>
                <td>描述</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>

            {% for r in data['main_content'] %}
            <tr id="{{ r['HGId'] }}">
                <td>{{ r['EName'] }}</td>
                <td>{{ r['HGName'] }}</td>
                <td>{{ r['HGDes'] }}</td>
                <td><i class="am-icon-times"></i> <i class="am-icon-pencil-square-o"></i></td>
            </tr>
            {% end %}
            <tr id="new">
                <td>
                    <select>
                        {% for r in data['env'] %}
                        <option value="{{ r['id'] }}">{{ r['name'] }}</option>
                        {% end %}
                    </select>
                </td>
                <td><input type="text" placeholder="主机组名"></td>
                <td><input type="text" placeholder="Description"></td>
                <td>
                    <button type="submit" class="am-btn am-btn-success">Save</button>
                    <button type="button" class="am-btn am-btn-warning">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% end %}