{% extends base.html %}

{% block css %}
    <link rel="stylesheet" href="{{static_url("css/css-admin.css")}}">
{% end %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/admin"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>  Admin Dashboard</a></li>
                <li><a href="/admin/host"><i class="fa fa-fw fa-cube" aria-hidden="true"></i> host</a></li>
                <li><a href="/admin/hostgroup"><i class="fa fa-fw fa-cubes" aria-hidden="true"></i> hostgroup</a></li>
                <li><a href="/admin/project"><i class="fa fa-fw fa-file-code-o" aria-hidden="true"></i> project</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="container-fluid page-header-container">
                <h1 class="page-header">{% block page-header %}Admin Dashboard{% end %}</h1>
                {% block button-new %}{% end %}
            </div>

            {% block content %}{% end %}
        </div>
    </div>
</div>
{#jquery双向数据绑定#}
{% end %}

{% block js %}
    <script src="{{static_url("js/js-admin.js")}}"></script>
{% end %}