{% extends "base.html" %}

{% block second-nav  %}
<td><a href="/assets/host">host</a></td>
<td><a href="/assets/hosttype">hosttype</a></td>
<td><a href="/assets/hostgroup">hostgroup</a></td>
<td><a href="/assets/env">env</a></td>
<td><a href="/assets/project">project</a></td>
{% end %}

{% block content %}
{% if result %}
    <table>
    <tr>
    {% for key in result[0] %}
        {% if key == 'id' %}{% continue %}{% end %}
        <td>{{ key }}</td>
    {% end %}
    </tr>

    {% for data in result %}
    <tr id="{{ data.id }}">
        {% for key in data %}
            {% if key == 'id' %}{% continue %}{% end %}
            <td>{{ data[key] }}</td>
        {% end %}

        {% block botton-after-data %}{% end %}
    </tr>
    {% end %}
    </table>
    {% end %}
{% end %}