{% extends "assets.html" %}




{% block content %}
<table>
<tr>
{% for key in result[0] %}
    {% if key == 'id' %}{% continue %}{% end %}
    <td>{{ key }}</td>
{% end %}
</tr>

{% for data in result %}
<tr id="{{ data.id }}">
    {% for key in data %}
        {% if key == 'id' %}{% continue %}{% end %}
        <td>{{ data[key] }}</td>
    {% end %}

    {% block botton-after-data %}
    <td><button><a href="/assets/project/settings?id={{ data.id }}">设置</a></button></td>
    <td><button>发布</button></td>
    {% end %}
</tr>
{% end %}
</table>
{% end %}