{% extends "assets.html" %}

{% block content %}
<table>
<tr>
{% for key in result[0] %}
    {% if key == 'id' %}{% continue %}{% end %}
    <td>{{ key }}</td>
{% end %}
</tr>

{% for data in result %}
<tr id="{{ data.id }}">
    {% for key in data %}
        {% if key == 'id' %}{% continue %}{% end %}
        <td>{{ data[key] }}</td>
    {% end %}

    {% block botton-after-data %}
    {% for e in envs %}
        <td><button><a href="/assets/project/settings?id={{ data.id }}&env_id={{ e.id }}">{{ e.name }}设置</a></button></td>
        <td><button><a href="/assets/deploy/new?id={{ data.id }}&env_id={{ e.id }}">{{ e.name }}发布</a></button></td>
    {% end %}

    {% end %}
</tr>
{% end %}
</table>
{% end %}