{% extends "assets.html" %}

{% block content %}
<div>
    <h1>{{ project[0].name }}</h1>
    <p>{{ project[0].repo }}</p>
</div>

    {% for env in envs %}
    <table border="0" cellpadding="5" cellspacing="1" >
        <tr>
            <td bgcolor="#cccccc" colspan="3"><h3>{{ env.name }}</h3></td>
        </tr>
        <tr>
            <td>发布主机/主机组</td>
            <td>
                {% if settings %}
                    {{ settings[0].host_id }}
                {% else %}
                    无
                {% end %}
            </td>
            <td>
                <label>
                    <select>
                        {% for h in hosts %}
                        <option>主 {{ h.ip_addr }}</option>
                        {% end %}
                        {% for hg in hostgroups %}
                        <option>组 {{ hg.name }}</option>
                        {% end %}
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>更新方式</td>
            <td>
                {% if settings %}
                    {{ settings[0].update_method }}
                {% else %}
                    无
                {% end %}
            </td>
            <td>
                <label>
                    <select>
                        <option>增量更新</option>
                        <option>全量更新</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>选择分支</td>
            <td>
                {% if settings %}
                    {{ settings[0].branch }}
                {% else %}
                    无
                {% end %}
            </td>
            <td>
                <label>
                    <select>
                        {% for b in branches %}
                        <option>{{ b }}</option>
                        {% end %}
                    </select>
                </label>
            </td>
        </tr>
    </table>
    {% end %}
{% end %}