<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autop</title>
</head>
<body>
    <div>
        <div>
            <table>
                <tr>
                    <td><a href="/">Index</a></td>
                    <td><a href="/assets">Assets</a></td>
                    <td><a href="/deploy">Depoy</a></td>
                </tr>
                <tr>{% block second-nav %}{% end %}</tr>
            </table>

        </div>
        <div>
            {% block content %}{% end %}
        </div>
    </div>
</body>
</html>