<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autop</title>

    <link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap/bootstrap.min.css')}}" />

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{static_url('css/base.css')}}" />
    {% end %}

    {% block other-css %}{% end %}
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}{% end %}
    </div>

    <script src="{{static_url('js/public/jquery-3.3.1.min.js')}}"></script>
    <script src="{{static_url('js/public/popper.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap/bootstrap.min.js')}}"></script>

    {% block js %}{% end %}
</body>
</html>