{% extends deploy.html %}

{% block page-header %}Auto deploy rule{% end %}
{% block button-new %}<button type="button" class="btn btn-primary btn-std" id="new">New</button>{% end %}

{% block content %}
<form role="form" id="new-auto-rule" action="/new/autorule" method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>项目</td>
                <td>分支</td>
                <td>事件</td>
                <td>发布方式</td>
                <td>before commit</td>
                <td>after_commit</td>
                <td>时间</td>
            </tr>
        </thead>
        <tbody>
            {% for r in data['history'] %}
            <tr id="{{ r['DHId'] }}">
                <td>{{ r['DHProj'] }}</td>
                <td>{{ r['DHBranch'] }}</td>
                <td>{{ r['DHEvt'] }}</td>
                <td>{{ r['DHType'] }}</td>
                <td>{{ r['DHBefore'] }}</td>
                <td>{{ r['DHAfter'] }}</td>
                <td>{{ r['DHTime'] }}</td>
            </tr>
            {% end %}
        </tbody>
    </table>
</form>
{% end %}




{% block confirmbody %}
<form role="form" id="del-auto-rule" action="/del/autorule" method="post">
    <input type="text" id='arid' placeholder="" name="arid" style='display:none' />
</form>
<div class="row">
    <div class="col-sm-12">
        是否确认删除
    </div>
</div>
{% end %}