{% extends deploy.html %}

{% block page-header %}{% end %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
    {% for env in data['env'] %}
    <li role="presentation"><a href="#{{ env['id'] }}" role="tab" data-toggle="tab">{{ env['name'] }}</a></li>
    {% end %}
</ul>
<button type="button" class="btn btn-primary btn-std" id="new">New</button>

<div class="tab-content">
    {% for env in data['env'] %}
    <div role="tabpanel" class="tab-pane" id="{{ env['id'] }}">
        <form role="form" id="new-auto-rule" action="/new/autorule" method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>项目</td>
                        <td>主机/主机组</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    {% for r in data['rules'] %}
                        {% if r['EName']== env['name']%}
                            <tr>
                                <td>{{ r['PName'] }}</td>
                                <td>{{ r['Container'] }}</td>
                                <td><i class="fa fa-times fa-lg" aria-hidden="true"></i> <i class="fa fa-pencil-square-o fa-lg"></i></td>
                            </tr>
                        {% else %}
                            {% continue %}
                        {% end %}
                    {% end %}
                    <tr id="new">
                        <td>{{ env['name'] }}</td>
                        <td>
                            <select class="form-control" name="project">
                                <option value="">无</option>
                                {% for r in data['proj'] %}
                                <option value="{{ r['id'] }}">{{ r['alias'] }}</option>
                                {% end %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control" name="Container">
                                <option value="">无</option>
                                {% for r in data['host'] %}
                                    {% if int(r['env_id'])== int(env['id']) %}
                                        <option value="{{ r['id'] }}">{{ r['ip_addr'] }}</option>
                                    {% else %}
                                        {% continue %}
                                    {% end %}
                                {% end %}
                                {% for r in data['hg'] %}
                                    <option value="{{ r['id'] }}">{{ r['name'] }}</option>
                                {% end %}
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success" id="save">Save</button>
                            <button type="button" class="btn btn-warning" id="cancel">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% end %}
</div>
{% end %}