// https://codepen.io/athimannil/pen/KfhEb

.tree{
    div[class*=col-] {
        padding-left: 20px;
        .form-row {
            margin-left: 0;
            div[class*=col-] {
                padding-left: 20px ;
                height: calc(1.8125rem + 2px);
                &:before{
                    content: '';
                    height: 1px;
                    width: 10px;
                    background-color: #333;
                    position: absolute;
                    top: calc(1.8125rem/2 - 2px);
                    left: 6px;
                    margin: auto;
                }
                &::after{
                    content:'';
                    width: 1px;
                    height: 100%;
                    background-color: #333;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 6px;
                }
                &:last-child{
                    &::after{
                        height: calc(1.8125rem/2 - 2px);
                    }
                }
            }

        }
        a{
            cursor: pointer;
            &:hover{
                color:#333;
                text-decoration: none;
            }
        }
    }
    select.tag-select {
        display: inline-block;
        width: auto!important;
        padding:0;
        background-color:transparent;
        cursor: pointer;
    }
}