div.nav-container {
    padding-top:0.7em;
}

.nav-container ol {
    margin-top: unset;
    -webkit-margin-before: unset;
    -webkit-margin-after: unset;
}

.row.padding-row>[class^=col-] {
    line-height: 2.7;
}

.row.title-row {
    line-height: 2.2;
}